<a href="https://colab.research.google.com/github/salma10102005/colab/blob/main/practice_by_own.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list
n = 20
m = 20.4
o = 6j + 8

print(n, type(n))
print(m, type(m))

20 <class 'int'>
20.4 <class 'float'>

In [ ]:
subject = ['cse','EEE', "CE"]
print('original list:', subject)

subject.append("english")
print('update list:' , subject)

subject.insert(2,'english')
print('update list:', subject)

subject.extend('math')
print(subject)

original list: ['cse', 'EEE', 'CE']
update list: ['cse', 'EEE', 'CE', 'english']
update list: ['cse', 'EEE', 'english', 'CE', 'english']
['cse', 'EEE', 'english', 'CE', 'english', 'm', 'a', 't', 'h']

In [ ]:
a = 25
b = 3.75
c = 4 + 9j

print(type(a))
print(b , type(b))
print(c , type(c))

<class 'int'>
3.75 <class 'float'>
(4+9j) <class 'complex'>

In [ ]:
import random #slide 6 from sub moodle
import math

a = 25
b = 3.75
c = 4 + 9j

n_bin = 0b101101
n_oct = 0o47
n_hex = 0xAF

list1 = [5, 10, 15, 20, 25]
list2 = [15, 20, 25, 30, 35]
text = "Python"

# 1. Print data type of a, b, c
print("1.", type(a), type(b), type(c))

# 2. bin to decimal
dec_bin = n_bin      # 0b101101 = 45
print("2.", dec_bin)  # 45

# 3. oct to decimal
dec_oct = n_oct      # 0o47 = 39
print("3.", dec_oct)  # 39

# 4. hexa to decimals
dec_hex = n_hex      # 0xAF = 175
print("4.", dec_hex)  # 175

# 5. Random integer between 1 and 50
r_int = random.randint(1, 50)
print("5.", r_int)

# 6. Random float between 0 and 1
r_float = random.random()
print("6.", r_float)

# 7. Random choice from list1
choice_item = random.choice(list1)
print("7.", choice_item)

# 8. data: 10 random integers between 1 and 100
data = [random.randint(1, 100) for _ in range(10)]
print("8.", data)

# 9. chars from text using list()
chars = list(text)
print("9.", chars)

# 10. first, third, last elements of list1
first_elem = list1[0]      # index 0
third_elem = list1[2]      # index 2
last_elem = list1[-1]      # last
print("10.", first_elem, third_elem, last_elem)

# 11. middle three elements of list1 -> mid_list
# list1 = [5, 10, 15, 20, 25] -> middle three are [10, 15, 20]
mid_list = list1[1:4]
print("11.", mid_list)

# 12. append 30 to list1, then insert 100 at index 1
list1.append(30)
list1.insert(1, 100)
print("12.", list1)    # [5, 100, 10, 15, 20, 25, 30]

# 13. extend list1 using list2
list1.extend(list2)
print("13.", list1)
# [5, 100, 10, 15, 20, 25, 30, 15, 20, 25, 30, 35]

# 14. remove 15 (first occurrence), then pop index 2
list1.remove(15)
popped_value = list1.pop(2)
print("14. after remove & pop:", list1, "popped:", popped_value)
# now list1 = [5, 100, 20, 25, 30, 15, 20, 25, 30, 35]

# 15. delete element at index 0 of list1, delete list chars
del list1[0]      # remove first element (5)
del chars         # delete the whole chars list
print("15. list1 after del[0]:", list1)
# list1 = [100, 20, 25, 30, 15, 20, 25, 30, 35]

# 16. length of list2, then iterate & print each element
len_list2 = len(list2)
print("16. length of list2:", len_list2)
for item in list2:
    print("   list2 item:", item)

# 17. math operations
sqrt_a = math.sqrt(a)                     # sqrt(25) = 5.0
sin_30 = math.sin(math.radians(30))       # sin(30°) = 0.5
log_b  = math.log(b)                      # ln(3.75)
fact_5 = math.factorial(5)                # 120

print("17. sqrt(a) =", sqrt_a)
print("    sin(30°) =", sin_30)
print("    ln(b)    =", log_b)
print("    5!       =", fact_5)

# 18. squares list from list2 using list comprehension
# list2 = [15, 20, 25, 30, 35]
squares = [x**2 for x in list2]
print("18. squares:", squares)
# [225, 400, 625, 900, 1225]

# 19. merged = list1 + list2, remove duplicates, sort asc & desc
merged = list1 + list2
print("19. merged:", merged)

unique_list = list(set(merged))           # remove duplicates
asc_sorted = sorted(unique_list)
desc_sorted = sorted(unique_list, reverse=True)

print("    unique:", unique_list)
print("    asc sorted:", asc_sorted)
print("    desc sorted:", desc_sorted)
# asc_sorted -> [15, 20, 25, 30, 35, 100]

# 20. from merged:
#     - intersection of list1 and list2
#     - second largest element
#     - all elements > 20 using list comprehension

intersection = list(set(list1) & set(list2))
second_largest = asc_sorted[-2]           # second last in ascending
greater_than_20 = [x for x in merged if x > 20]

print("20. intersection:", intersection)
print("    second largest:", second_largest)
print("    > 20:", greater_than_20)

1. <class 'int'> <class 'float'> <class 'complex'>
2. 45
3. 39
4. 175
5. 39
6. 0.42306458986631446
7. 15
8. [92, 61, 9, 88, 53, 47, 59, 75, 43, 73]
9. ['P', 'y', 't', 'h', 'o', 'n']
10. 5 15 25
11. [10, 15, 20]
12. [5, 100, 10, 15, 20, 25, 30]
13. [5, 100, 10, 15, 20, 25, 30, 15, 20, 25, 30, 35]
14. after remove & pop: [5, 100, 20, 25, 30, 15, 20, 25, 30, 35] popped: 10
15. list1 after del[0]: [100, 20, 25, 30, 15, 20, 25, 30, 35]
16. length of list2: 5
   list2 item: 15
   list2 item: 20
   list2 item: 25
   list2 item: 30
   list2 item: 35
17. sqrt(a) = 5.0
    sin(30°) = 0.49999999999999994
    ln(b)    = 1.3217558399823195
    5!       = 120
18. squares: [225, 400, 625, 900, 1225]
19. merged: [100, 20, 25, 30, 15, 20, 25, 30, 35, 15, 20, 25, 30, 35]
    unique: [35, 100, 15, 20, 25, 30]
    asc sorted: [15, 20, 25, 30, 35, 100]
    desc sorted: [100, 35, 30, 25, 20, 15]
20. intersection: [35, 15, 20, 25, 30]
    second largest: 35
    > 20: [100, 25, 30, 25, 30, 35, 25, 30, 35]

In [ ]:
import random
import math

a = 25
b = 3.75
c = 4 + 9j

n_bin = 0b101101
n_oct = 0o47
n_hex = 0xAF

list1 = [5, 10, 15, 20, 25]
list2 = [15, 20, 25, 30, 35]
text = "Python"


print(type(a) , type(b), type(c)) # ans 1

dec_bin = n_bin #binary to decimal
print(n_bin)

oct_bin = n_oct #oct to decimal
print(n_oct)

dec_hex = n_hex #hex to decimal
print(n_hex)

r_int = random.randrange(1,50) #random range
print(r_int)

r_float = random.random() #
print(r_float)

choice_item = random.uniform(10,20) #uniform diye jekono ta floating point kora jabe
print(choice_item)

data = [random.randint(1,100) for _ in range(10)] #1-100 obdhi randomly 10 ta digit choose  korse
print(data)

chars = list(text) # data type string ke list a convert korse
print(chars)

a = list1[0] #middle element gulo ber korsi
b = list1[2]
c = list1[-1]
print(a,b,c)

d = list1[1:4] #middle element gulor list korsi
print(d)

list1.append(30) #append hocche sheshe jog kora
list1.insert(1,100) # 2 no list a ekhn 100 hbe change list item
print(list1)

list1.extend(list2)
print(list1)

list1.remove(15)
popped_value = list1.pop(2)
print(list1,popped_value)

del list1[0] #o index delet kore dise
del chars
print(list1)

tata = len(list2) #lenth list2 er
print(list2)
for variable in list2:
    print(variable) #list gulo alada alada kore aise



sqrt_a = math.sqrt(a)                     # sqrt(25) = 5.0
sin_30 = math.sin(math.radians(30))       # sin(30°) = 0.5
log_b  = math.log(b)                      # ln(3.75)
fact_5 = math.factorial(5)                # 120

<class 'int'> <class 'float'> <class 'complex'>
45
39
175
10
0.4171180241902128
10.895768562077903
[96, 46, 14, 70, 37, 67, 57, 1, 31, 51]
['P', 'y', 't', 'h', 'o', 'n']
5 15 25
[10, 15, 20]
[5, 100, 10, 15, 20, 25, 30]
[5, 100, 10, 15, 20, 25, 30, 15, 20, 25, 30, 35]
[5, 100, 20, 25, 30, 15, 20, 25, 30, 35] 10
[100, 20, 25, 30, 15, 20, 25, 30, 35]
[15, 20, 25, 30, 35]
15
20
25
30
35

In [ ]:
a = 110
b = 16

print(oct(a))
print(hex(a))
print(bin(a))

0o156
0x6e
0b1101110

In [ ]:
#slide 7

# # Rule-1: Dictionary মানে key : value pair
# # Term: dictionary, key, value
student = {
    "name": "Akash",
    "age": 23
}
print(student)

# # Rule-2: Dictionary বানাতে { } ব্যবহার হয়
# # Term: curly braces
info = {"city": "Dhaka", "country": "Bangladesh"}
print(info)

# # Rule-3: Key অবশ্যই unique হতে হবে
# # Term: unique key, overwrite
data = {"a": 1, "b": 2, "a": 5}
print(data)        # a এর মান overwrite হয়ে 5

# # Rule-4: Key দিয়ে value access করা হয়
# # Term: access value
print(student["name"])

# # Rule-5: get() দিয়ে safe ভাবে value নেওয়া যায়
# # Term: get() method
print(student.get("age"))
print(student.get("roll"))          # না থাকলে None
print(student.get("roll", "N/A"))   # default value

# # Rule-6: Dictionary mutable (value change করা যায়)
# # Term: mutable
student["age"] = 24
print(student)

# # Rule-7: নতুন key-value add করা যায়
# # Term: add item
student["dept"] = "Chemistry"
print(student)

# # Rule-8: update() দিয়ে একসাথে add/change করা যায়
# # Term: update()
student.update({"age": 25, "cgpa": 3.50})
print(student)

# # Rule-9: del দিয়ে item delete করা যায়
# # Term: del statement
del student["cgpa"]
print(student)

# # Rule-10: pop() item delete করে value return করে
# # Term: pop()
removed = student.pop("dept")
print("Removed:", removed)
print(student)

# # Rule-11: clear() সব delete করে empty dictionary বানায়
# # Term: clear()
temp = student.copy()
temp.clear()
print(temp)

# # Rule-12: Loop করলে default ভাবে key পাওয়া যায়
# # Term: loop, key
for k in student:
    print(k)

# # Rule-13: values() দিয়ে সব value পাওয়া যায়
# # Term: values()
for v in student.values():
    print(v)

# # Rule-14: items() দিয়ে key এবং value একসাথে পাওয়া যায়
# # Term: items()
for k, v in student.items():
    print(k, "=", v)

# # Rule-15: len() dictionary এর size দেয়
# # Term: length
print(len(student))

# # Rule-16: in / not in দিয়ে key আছে কিনা চেক করা যায়
# # Term: membership
print("name" in student)
print("roll" not in student)

{'name': 'Akash', 'age': 23}
{'city': 'Dhaka', 'country': 'Bangladesh'}
{'a': 5, 'b': 2}
Akash
23
None
N/A
{'name': 'Akash', 'age': 24}
{'name': 'Akash', 'age': 24, 'dept': 'Chemistry'}
{'name': 'Akash', 'age': 25, 'dept': 'Chemistry', 'cgpa': 3.5}
{'name': 'Akash', 'age': 25, 'dept': 'Chemistry'}
Removed: Chemistry
{'name': 'Akash', 'age': 25}
{}
name
age
Akash
25
name = Akash
age = 25
2
True
True

In [ ]:
#slide 11

# 1) PYTHON TUPLE

print("\n========== TUPLE ==========")

# Tuple কী?
# Tuple হলো list-এর মতো collection, কিন্তু একবার বানালে বদলানো যায় না (immutable)
t1 = (10, 20, 30)
print("t1 =", t1)

# tuple() constructor দিয়ে tuple বানানো
t2 = tuple([1, 2, 3])   # list থেকে tuple
print("t2 =", t2)

# Empty tuple
empty_tuple = ()
print("empty_tuple =", empty_tuple)

# Different data types tuple
t3 = (1, 2, 3, 4)
print("t3 =", t3)

# Mixed data types tuple
t4 = ("A", 3.14, True, 7)
print("t4 =", t4)

# Tuple characteristics:
# Ordered: index অনুযায়ী order থাকে
# Immutable: বদলানো যায় না
# Allow duplicates: duplicate থাকতে পারে
t_dup = (1, 1, 2, 2, 2, "x", "x")
print("t_dup (duplicates allowed) =", t_dup)

# Index দিয়ে access
print("t1[0] =", t1[0])
print("t1[1] =", t1[1])

# in keyword দিয়ে item আছে কিনা check
print("20 in t1 ?", 20 in t1)
print("99 in t1 ?", 99 in t1)

# Immutable: change/add/delete item করা যাবে না (করলে error)
try:
    t1[0] = 999  # এটা error দিবে
except TypeError as e:
    print("Tuple modify করতে গেলে Error:", e)

# Delete tuples:
# individual item delete করা যায় না, কিন্তু পুরো tuple del দিয়ে delete করা যায়
temp_tuple = (5, 6, 7)
print("temp_tuple আগে =", temp_tuple)
del temp_tuple
# del করার পর temp_tuple ব্যবহার করলে NameError হবে
try:
    print(temp_tuple)
except NameError as e:
    print("del করার পর ব্যবহার করলে Error:", e)


# ======================
# 2) PYTHON STRING
# ======================

print("\n========== STRING ==========")

# String হলো characters এর sequence
s1 = "hello"
s2 = 'hello'
print("s1 =", s1, "| s2 =", s2)

# Compare two strings (==)
a = "abc"
b = "abc"
c = "Abc"
print("a == b ?", a == b)
print("a == c ?", a == c)

# Join/concatenate using +
first = "Md."
last = "Akash"
full = first + " " + last
print("Joined string =", full)

# Iterate through string using for loop
print("Iterate s1:")
for ch in s1:
    print(ch, end=" ")
print()

# String length using len()
print("len(s1) =", len(s1))

# Escape sequences:
# এক স্ট্রিংয়ের ভেতরে quote আনতে \ ব্যবহার করা হয়
example = "He said, \"What's there?\""
print("Escape example =", example)

# f-String formatting
name = "Akash"
age = 25
print(f"f-string example: Name={name}, Age={age}")


# ======================
# 3) PYTHON SET
# ======================

print("\n========== SET ==========")

# Set হলো unique elements এর collection (duplicate থাকে না)
set1 = {1, 2, 2, 3, 3, 3}
print("set1 (duplicates auto removed) =", set1)

# Set তৈরি করা হয় {} দিয়ে
set2 = {"apple", "banana", "mango"}
print("set2 =", set2)

# Empty set:
# {} দিলে সেটা empty dict হবে, তাই empty set বানাতে set() লাগে
empty_set = set()
print("empty_set =", empty_set, "| type =", type(empty_set))

# Set-এ mutable elements (list, set, dict) element হিসেবে রাখা যায় না
# কিন্তু tuple রাখা যায় (কারণ tuple immutable)
set3 = {(1, 2), (3, 4)}
print("set3 (tuple inside set) =", set3)

# Add, Update, Remove
setA = {1, 2, 3}
print("setA শুরু =", setA)

setA.add(10)  # single item add
print("add(10) =>", setA)

setA.update([20, 30, 30])  # multiple items add (duplicates ignored)
print("update([20,30,30]) =>", setA)

setA.remove(2)  # item না থাকলে error দেয়
print("remove(2) =>", setA)

# discard() item না থাকলেও error দেয় না (extra useful method)
setA.discard(999)
print("discard(999) =>", setA)

# len() = number of elements
print("len(setA) =", len(setA))

# Union, Intersection, Difference, Symmetric Difference
X = {1, 2, 3, 4}
Y = {3, 4, 5, 6}

print("X =", X)
print("Y =", Y)

print("Union (X | Y) =", X | Y)
print("Intersection (X & Y) =", X & Y)
print("Difference (X - Y) =", X - Y)  # X এ আছে কিন্তু Y তে নেই
print("Symmetric Difference (X ^ Y) =", X ^ Y)  # common বাদে বাকিগুলো

# Check if two sets are equal (==)
print("X == Y ?", X == Y)
print("{1,2,3} == {3,2,1} ?", {1,2,3} == {3,2,1})

# Other useful set methods
print("Is X subset of (X|Y)?", X.issubset(X | Y))
print("Is X superset of (X&Y)?", X.issuperset(X & Y))


# ======================
# 4) HOMEWORK (LIST)
# ======================

print("\n========== HOMEWORK: LIST অপারেশন ==========")

# 10 integers এর list তৈরি
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Initial list =", lst)

# Append an element
lst.append(99)
print("After append(99) =", lst)

# Insert at a specific position (index 2 এ 555)
lst.insert(2, 555)
print("After insert(2, 555) =", lst)

# Remove an element (value ধরে remove; প্রথম যেটা পাবে সেটাই কাটবে)
lst.remove(4)
print("After remove(4) =", lst)

# Pop an element from a specific position (index 3 থেকে pop)
popped = lst.pop(3)
print("After pop(3) =", lst, "| popped =", popped)

# Find all unique elements in the list
# (Set ব্যবহার করলে unique পাওয়া যায়, তবে order থাকে না)
unique_elements = set(lst)
print("Unique elements (as set) =", unique_elements)

# যদি order বজায় রেখে unique চাই (built-in function ছাড়া না, কিন্তু logic দেখানো):
ordered_unique = []
seen = set()
for item in lst:
    if item not in seen:
        ordered_unique.append(item)
        seen.add(item)
print("Unique elements (order preserved) =", ordered_unique)

========== TUPLE ==========
t1 = (10, 20, 30)
t2 = (1, 2, 3)
empty_tuple = ()
t3 = (1, 2, 3, 4)
t4 = ('A', 3.14, True, 7)
t_dup (duplicates allowed) = (1, 1, 2, 2, 2, 'x', 'x')
t1[0] = 10
t1[1] = 20
20 in t1 ? True
99 in t1 ? False
Tuple modify করতে গেলে Error: 'tuple' object does not support item assignment
temp_tuple আগে = (5, 6, 7)
del করার পর ব্যবহার করলে Error: name 'temp_tuple' is not defined

========== STRING ==========
s1 = hello | s2 = hello
a == b ? True
a == c ? False
Joined string = Md. Akash
Iterate s1:
h e l l o
len(s1) = 5
Escape example = He said, "What's there?"
f-string example: Name=Akash, Age=25

========== SET ==========
set1 (duplicates auto removed) = {1, 2, 3}
set2 = {'banana', 'apple', 'mango'}
empty_set = set() | type = <class 'set'>
set3 (tuple inside set) = {(1, 2), (3, 4)}
setA শুরু = {1, 2, 3}
add(10) => {10, 1, 2, 3}
update([20,30,30]) => {1, 2, 3, 10, 20, 30}
remove(2) => {1, 3, 10, 20, 30}
discard(999) => {1, 3, 10, 20, 30}
len(setA) = 5
X = {1, 2, 3, 4}
Y = {3, 4, 5, 6}
Union (X | Y) = {1, 2, 3, 4, 5, 6}
Intersection (X & Y) = {3, 4}
Difference (X - Y) = {1, 2}
Symmetric Difference (X ^ Y) = {1, 2, 5, 6}
X == Y ? False
{1,2,3} == {3,2,1} ? True
Is X subset of (X|Y)? True
Is X superset of (X&Y)? True

========== HOMEWORK: LIST অপারেশন ==========
Initial list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
After append(99) = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99]
After insert(2, 555) = [1, 2, 555, 3, 4, 5, 6, 7, 8, 9, 10, 99]
After remove(4) = [1, 2, 555, 3, 5, 6, 7, 8, 9, 10, 99]
After pop(3) = [1, 2, 555, 5, 6, 7, 8, 9, 10, 99] | popped = 3
Unique elements (as set) = {1, 2, 99, 5, 6, 7, 8, 9, 10, 555}
Unique elements (order preserved) = [1, 2, 555, 5, 6, 7, 8, 9, 10, 99]